<div class="backdrop"></div>
<header>
  <button>Menu</button>
  <nav>
    <ul >
      <li>
        <a class="<%= path === '/' ? 'active' : '' %>" href="/">Home</a>
      </li>
      <li>
        <a class="<%= path === '/' ? 'active' : '' %>" href="#">test</a>
      </li>
      <li>
        <a class="<%= path === '/' ? 'active' : '' %>" href="#">test</a>
      </li>
      <li>
        <a class="<%= path === '/' ? 'active' : '' %>" href="#">test</a>
      </li>
      <li>
        <a class="<%= path === '/' ? 'active' : '' %>" href="#">test</a>
      </li>
      <li>
        <a class="<%= path === '/' ? 'active' : '' %>" href="#">test</a>
      </li>
    </ul>
  </nav>
</header>
